.white {
    color: #ffffff !important;
}
.gray {
    color: #515151;
}
.red {
    color: #cc0000;
}
.blue {
    color: #0000cc;
}
.royalblue {
    color: #483d8b;
}
.green {
    color: #00cc00;
}
.darkgreen {
    color: #006400;
}
.magenta {
    color: #8b008b;
}
.orange {
    color: #ffA500;
}
.orangered {
    color: #ff4500;
}
.brown {
    color: #8b4513;
}
