@charset "UTF-8";
@import url('reset.css');
@import url('fonts.css');
@import url('colors.css');
@import url('common.css');
/* COMMON */
.close {
    position: absolute;
    top: 0;
    right: 0;
    width: 30px;
    height: 36px;
    cursor: pointer;
}
.close:before {
    position: absolute;
    top: 0;
    left: 0;
    width: 30px;
    height: 36px;
    color: #aaa;
    font: 100 20px/36px 'FontAwesome';
    content: "\f00d";
    text-align: center;

}
/* BODY */
body {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    min-height: 100vh;
    color: #555555;
    font: 14px/16px "OpenSansRegular";
    background-color: #edeef0;
}
.container {
    position: relative;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}
header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    /*flex: 0 0 auto;*/
    height: 55px;
    text-align: center;
    background-color: #edeef0;
    /*overflow: hidden;*/
    z-index: 1;
}
section.main {
    display: flex;
    flex: 1 0 auto;
    padding: 55px 0 0;
    /*background-color: #edeef0;*/
}
footer {
    flex: 0 0 auto;
    height: 35px;
    text-align: center;
    background-color: #3a3b3d;
}
/* MAIN */
.main-body {
    display: flex;
    flex: 1;
    flex-direction: row;
    position: relative;
    width: 90%;
    margin: 0 auto;
}
aside {
    position: relative;
    flex: 0 0 auto;
    width: 160px;
    padding: 20px 10px 10px;
    background-color: #edeef0;
    overflow: hidden;
}
aside.compact {
    width: 55px;
}
main {
    display: flex;
    flex: 1;
    /*padding: 10px;*/
    background-color: #ffffff;
}
/* HEADER */
header .container {
    height: 55px;
}
.header-menu {
    position: absolute;
    top: 0;
    left: 0;
    width: 55px;
    height: 55px;
    cursor: pointer;
}
.header-menu:before {
    position: absolute;
    top: 19px;
    left: 15px;
    width: 20px;
    height: 20px;
    color: #3a3b3d;
    font: 20px/20px 'FontAwesome';
    content: "\f0c9";
}
.header-user {
    position: absolute;
    top: 0;
    right: 0;
    width: 55px;
    height: 55px;
    cursor: pointer;
}
.header-user:before {
    position: absolute;
    top: 15px;
    left: 15px;
    width: 25px;
    height: 25px;
    color: #3a3b3d;
    font: 25px/25px 'FontAwesome';
    content: "\f007";
}
.header-user-menu {
    position: absolute;
    top: 55px;
    right: 0;
    display: none;
    text-align: left;
    background-color: #edeef0;
    border-radius: 0 0 0 5px;
}
.header-user-menu ul {
    padding: 10px 0;
}
.header-user-menu li a {
    position: relative;
    display: block;
    padding: 0 25px 0 45px;
    font: 14px/40px 'OpenSansRegular';
}
.header-user-menu li a:before {
    position: absolute;
    top: 1px;
    left: 12px;
    color: #3a3b3d;
    font: 18px/40px 'FontAwesome';
    text-align: center;
}
.header-user-menu li a:hover:before {
    color: #de002b;
}
.header-menu-profile:before {
    content: "\f2bc";
}
.header-menu-settings:before {
    content: "\f013";
}
.header-menu-exit:before {
    content: "\f08b";
}
.header-search {
    position: relative;
    display: inline-block;
    /*width: 150px;*/
    margin: 0 auto;
    padding: 12px 0;
}
.header-search input[type=text] {
    position: relative;
    width: 300px;
    padding: 0 35px 0 5px;
    font: 13px/30px 'OpenSansRegular';
    border-radius: 5px;
    outline: none;
    /*transition: .5s;*/
}
.header-search button {
    position: absolute;
    top: 12px;
    right: 0;
    width: 30px;
    height: 30px;
    color: #3a3b3d;
    font-size: 0;
    background-color: #ffffff;
    border-radius: 5px;
    cursor: pointer;
}
.header-search button:before {
    position: absolute;
    top: 0;
    left: 0;
    width: 30px;
    height: 30px;
    font: 16px/30px 'FontAwesome';
    content: "\f002";
}
.header-results {
    position: absolute;
    top: 55px;
    left: 0;
    right: 0;
    display: none;
    width: 300px;
    margin: 0 auto;
    text-align: left;
    border: 1px solid #ddd;
    border-top: none;
    border-radius: 0 0 3px 3px;
}
/* SEARCH */
.search-block ul {
    padding: 20px;
}
.search-block li {
    display: flex;
    margin: 10px 0;
}
.search-block .search-link {
    display: flex;
    flex: 1;
}
.search-block li img {
    display: block;
    width: 30px;
    height: 30px;
    margin-right: 10px;
}
.search-info {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
}
.search-login {
    font: 14px/16px 'OpenSansSemiBold';
}
.search-name {
    font: 12px/14px 'OpenSansItalic';
}
.search-empty {
    padding: 10px 20px;
}
.user-icon {
    position: relative;
    width: 30px;
    height: 30px;
    font: 16px/30px 'FontAwesome';
}
.user-icon:before {
    position: absolute;
    top: 0;
    left: 0;
    width: 30px;
    height: 30px;
    text-align: center;
}
.user-lock:before {
    content: "\f023";
}
.user-unlock:before {
    content: "\f13e";
}
.user-message:before {
    content: "\f003";
}
.user-request:before {
    content: "\f0ec";
}
/* NAV */
nav {
    position: fixed;
}
.nav-item {
}
.nav-item a {
    position: relative;
    display: block;
    font: 13px/36px 'OpenSansRegular';
}
aside.compact .nav-item a {
    width: 35px;
    height: 50px;
    text-indent: -9999px;
}
aside.compact .nav-item a:before {
    position: absolute;
    top: 0;
    left: 0;
    width: 35px;
    height: 30px;
    color: #3a3b3d;
    font: 30px/30px 'FontAwesome';
    text-indent: 0;
    text-align: center;
}
aside.compact .nav-item a.nav-home:before {
    content: "\f015";
}
aside.compact .nav-item a.nav-messages:before {
    content: "\f086";
}
aside.compact .nav-item a.nav-exit:before {
    content: "\f08b";
}


/* FOOTER */
footer a {
    color: #ffffff;
    font: 14px/35px 'OpenSansRegular';
}
