@charset "UTF-8";
@import url('reset.css');
@import url('fonts.css');
@import url('colors.css');
@import url('common.css');
/* BODY */
body {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    min-height: 100vh;
    color: #555555;
    font: 14px/17px "OpenSansRegular";
    background-color: #edeef0;
}
.container {
    position: relative;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}
header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    /*flex: 0 0 auto;*/
    height: 55px;
    text-align: center;
    background-color: #edeef0;
    overflow: hidden;
    z-index: 1;
}
section.main {
    display: flex;
    flex: 1 0 auto;
    padding: 55px 0 0;
    /*background-color: #edeef0;*/
}
footer {
    flex: 0 0 auto;
    height: 35px;
    text-align: center;
    background-color: #3a3b3d;
}
/* MAIN */
.main-body {
    display: flex;
    flex: 1;
    flex-direction: row;
    position: relative;
    width: 90%;
    margin: 0 auto;
}
aside {
    position: relative;
    flex: 0 0 auto;
    width: 160px;
    padding: 20px 10px 10px;
    background-color: #edeef0;
    overflow: hidden;
}
aside.compact {
    width: 50px;
}
main {
    display: flex;
    flex: 1;
    /*padding: 10px;*/
    background-color: #ffffff;
}
/* HEADER */
.header-menu {
    position: absolute;
    top: 19px;
    left: 15px;
    cursor: pointer;
}
.header-menu:before {
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    color: #3a3b3d;
    font: 20px/20px 'FontAwesome';
    content: "\f0c9";
}
/* NAV */
nav {
    /*position: fixed;*/
}
.nav-item {
}
.nav-item a {
    position: relative;
    display: block;
    font: 13px/36px 'OpenSansRegular';
}
aside.compact .nav-item a {
    width: 50px;
    height: 50px;
    text-indent: -9999px;
}
aside.compact .nav-item a:before {
    position: absolute;
    top: 0;
    left: 0;
    width: 30px;
    height: 30px;
    color: #3a3b3d;
    font: 30px/30px 'FontAwesome';
    text-indent: 0;
}
aside.compact .nav-item a.nav-home:before {
    content: "\f015";
}
aside.compact .nav-item a.nav-messages:before {
    content: "\f086";
}
aside.compact .nav-item a.nav-friends:before {
    content: "\f007";
}
aside.compact .nav-item a.nav-exit:before {
    content: "\f08b";
}


/* FOOTER */
footer a {
    color: #ffffff;
    font: 14px/35px 'OpenSansRegular';
}
